name: Release push
on:
  push:
    branches:
      - 'legacy'
      - 'master'
      - 'release-v*.x.x'
jobs:
  debug_info:
    name: Debug info
    runs-on: ubuntu-18.04
    steps:
      - name: Print github context JSON
        run: |
          echo "${{ toJson(github) }}"
  gather_facts:
    name: Gather facts
    runs-on: ubuntu-18.04
    outputs:
      version: ${{ steps.get_version.outputs.version }}
      project_go_path: ${{ steps.get_project_go_path.outputs.path }}
    steps:
      - name: Get version
        id: get_version
        run: |
          title="$(echo "${{ github.event.head_commit.message }}" | head -n 1 -)"
          # Matches strings like:
          #
          #   - "release v1.2.3"
          #   - "release v1.2.3-r4"
          #   - "release v1.2.3 (#56)"
          #   - "release v1.2.3-r4 (#56)"
          #
          # And outputs version part (v1.2.3).
          if echo $title | grep -qE '^release v[0-9]+\.[0-9]+\.[0-9]+([.-][^ .-][^ ]*)?( \(#[0-9]+\))?$' ; then
            version=$(echo $title | cut -d ' ' -f 2)
          fi
          echo "version=\"$version\""
          echo "::set-output name=version::${version}"
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get project.go path
        id: get_project_go_path
        run: |
          path='./pkg/project/project.go'
          if [[ -f $path ]] ; then
            echo "::set-output name=path::${path}"
          else
            echo "::set-output name=path::"
          fi
  install_semver:
    name: Install semver
    runs-on: ubuntu-18.04
    env:
      SEMVER_HASH: ""
      SEMVER_URL: "https://raw.githubusercontent.com/fsaintjacques/semver-tool/3.0.0/src/semver"
    steps:
      - name: Add $GITHUB_WORKSPACE/bin to $PATH
        run: |
          echo "::add-path::$GITHUB_WORKSPACE/bin"
      - name: Cache semver
        id: cache-semver
        uses: actions/cache@v1
        with:
          path: "/opt/semver/bin"
          key: "opt-semver-bin-v3.0.0"
      - name: Install semver
        if: ${{ steps.cache-semver.outputs.cache-hit != 'true' }}
        run: |
          # TODO check hash
          mkdir -p /opt/semver/bin
          curl -fsSLo /opt/semver/bin/semver 'https://raw.githubusercontent.com/fsaintjacques/semver-tool/3.0.0/src/semver'
          chmod +x /opt/semver/bin/semver
      - name: Move to workspace directory
        run: |
          mkdir -p $GITHUB_WORKSPACE/bin
          rsync -a /opt/semver/bin/semver $GITHUB_WORKSPACE/bin/semver
      - name: Print semver version
        run: |
          semver --version
  update_project_go:
    name: Update project.go
    runs-on: ubuntu-18.04
    if: ${{ needs.gather_facts.outputs.version != '' && needs.gather_facts.outputs.project_go_path != ''}}
    needs:
      - gather_facts
      - install_semver
    steps:
      - name: Add $GITHUB_WORKSPACE/bin to $PATH
        run: |
          echo "::add-path::$GITHUB_WORKSPACE/bin"
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Update project.go
        id: update_project_go
        run: |
          file="${{ needs.gather_facts.outputs.project_go_path }}"
          version="${{ needs.gather_facts.outputs.version }}"
          version="${version#v}" # Strip "v" prefix.
          new_version="$(semver bump patch $version)"
          echo "::set-output name=new_version::${new_version}"
          sed -Ei "s/(version[[:space:]]*=[[:space:]]*)\"${version}\"/\1\"${new_version}\"/" $file
          if [[ ! git diff --exit-code $file ]] ; then
            echo "error: no changes in \"$file\"" >&2
          fi
      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add ${{ steps.has_project_go.outputs.path }}
          git commit -m "pkg/project: update version to ${{ steps.update_project_go.outputs.new_version }}"
      - name: Push changes
        env:
          REMOTE_REPO: "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        run: |
          git push "${REMOTE_REPO}" HEAD:${{ github.ref }} name: Push changes
  create_release:
    name: Create release
    runs-on: ubuntu-18.04
    needs: 
      - gather_facts
      - update_project_go
    if: ${{ needs.gather_facts.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.sha }}
      - name: Create tag
        run: |
          version="${{ needs.gather_facts.outputs.version }}"
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git tag $version ${{ github.sha }}
      - name: Push tag
        env:
          REMOTE_REPO: "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        run: |
          git push "${REMOTE_REPO}" --tags
      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ needs.gather_facts.outputs.version }}"
          release_name: "${{ needs.gather_facts.outputs.version }}"
